:root{
    --blackish: #202020;
    --darkgrey: #3f3f3f;
    --lightgrey: #707070;
    --eggyellow: #ffdf6c;
    --white: #ffffff;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--white);
}

header{
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--darkgrey);
    color: white;

}

header h1{
    display: inline-block;
    height: 40px;
    width:380px;
    background-color: var(--eggyellow);
    color: var(--blackish);

}
header a{
    text-decoration: none;
    color: white;
}

header nav a:hover {
    background-color: var(--eggyellow);
    color: var(--blackish);
    
}

header nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

figure{
    height: 250px; 
    width: 100%;
    margin-bottom: 25%;
    background-image: url("./IMG/coding1.jpeg");
    background-size: cover;
    background-position: center;
}

#keys {
    position: absolute;
    left: 75%;
    top: 35%;
    height: 40px;
    width: 380px;
    background-color: var(--eggyellow);
    color: var(--blackish);
}

.maincontainer{
    display: flex;
    flex-wrap: wrap;
}

.content1{
    height: 200px;
    width: 75%;
    position: absolute;
    top: 45%;
    left: 25%;
    padding-left: 10px;
    border-left: var(--eggyellow) solid 6px;
    
}

.contactme2{
    height: 150px;
    width: 75%;
    position: absolute;
    top: 117%;
    left: 25%;
    border-left: var(--eggyellow) solid 6px;
    
}
.contactme2  {
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contactme2 a{
    text-decoration: none;
    color: var(--blackish);
    
}

#projects{
    display: flex;
    flex-direction: column;
}

/* .subproject {
    position: relative;
    flex: 45%;
    margin:1%;
    border: var(--eggyellow);
} */
/* .content2{
    width: 70%;
    height: auto;
    border-left: var(--eggyellow) solid 6px;
    word-spacing: 6px;
    padding-left: 50px; 
    
}*/

.subproject img:hover{
    opacity: 0.5;
    transition:0.8s ease-in-out;
}
.tittle {
    position: absolute;
    bottom: 40%;
    padding-left: 20px;
    padding-right: 10px;
    background-color: var(--eggyellow);
    
}
#second {
    display: flex;
    flex-wrap: wrap;
}

--------------------

.big {
    width: 100%;
    height: 500px;
    
    
}

.contentcontainer { 
    width: 75%;
    height: 100%;
    position: absolute;
    left: 25%;

}
.aside {
    width: 25%;
   height: 100%;
    margin-right: 0px; 
    text-align: end;
    font-size: 45px;
    
}
#position1{
    position: absolute;
    top: 45%;
}