:root{
    --blackish: #202020;
    --darkgrey: #3f3f3f;
    --lightgrey: #707070;
    --eggyellow: #ffdf6c;
    --white: #ffffff;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

/* upper portion of web- navs and heading */

header{
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--darkgrey);
    color: white;

}

header h1{
    display: inline-block;
    height: 40px;
    width:380px;
    background-color: var(--eggyellow);
    color: var(--blackish);

}
header a{
    text-decoration: none;
    color: white;
}

header nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}
header nav a:hover {
    background-color: var(--eggyellow);
    color: var(--blackish);
}


header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* coding background pictures */
figure{
    height: 250px; 
    width: 100%;
    margin-bottom: 25%;
    background-image: url("./IMG/coding1.jpeg");
    background-size: cover;
    background-position: center;
}

#keys {
    position: absolute;
    left: 75%;
    top: 35%;
    height: 40px;
    width: 380px;
    background-color: var(--eggyellow);
    color: var(--blackish);
}
.content1{
    height: 200px;
    width: 75%;
    position: absolute;
    top: 45%;
    left: 25%;
    padding-left: 10px;
    border-left: var(--eggyellow) solid 6px;
    
}

.contactme2{
    height: 150px;
    width: 75%;
    position: absolute;
    top:225%;
    left: 25%;
    border-left: var(--eggyellow) solid 6px;
    
}
.contactme2  {
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
}

.contactme2 a{
    text-decoration: none;
    color: var(--blackish);
    
}

#projects{
    display: flex;
    flex-direction: column;
}



.subproject img:hover{
    opacity: 0.5;
    transition:0.8s ease-in;
}

--------------------

.big {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    height: 300px;
}
.aside2{
    
    width: 25%;
    height: 100vh;
    text-align: right;
    border-right: var(--eggyellow) solid 6px;
    font-size: 45px;
    
}
#first {
    margin: 55px;
}
#first img{
    width:100%;
    height: auto;
    
}

.contentcontainer { 
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    position: relative;
     left: 25%;
    top: -910px;
    
}
.aside {
    width: 285px;
    height: 200px;
    text-align: right;
    font-size: 45px;
    position: absolute;
    top: 45%;
}

.activities{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#second{
    min-width: 300px;
    min-height: 200px;
    margin: 30px;
}

#second img{
    height: 100%;
    width: 100%;
}

.tittle {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--eggyellow);
    color: var(--blackish);
    font-size: 20px;
    width: 30%;

}

.aside3{
    width: 285px;
    height: 200px;
    text-align: right;
    font-size: 45px;
    position: absolute;  
    top: 225%;
